{{ range .Site.Data.papers }}

<p style="margin: 0;"><b>{{ .title }}.</b>
<i>{{ delimit .author  ", " ", and " }}.</i></p>

<p style="margin-top: .3em; margin-bottom: .3em;">
{{ if eq .type "article-journal" }}
{{ .container }}, {{ .volume}}({{.issue}}), {{.issued}}.
{{ else if eq .type "paper-conference" }}
{{ .container }}, {{.issued}}.
{{ end }}
</p>

<p style="margin: 0;">
{{ $context := dict
    "vendor" "far"
    "name" "file-pdf"
}}
{{ partial "icons/icon" $context }} <a href="https://homepages.dcc.ufmg.br/~cunha/papers/{{.id}}.pdf">PDF</a>
</p><br/><br/>

{{ end }}
